# ──────────────────────────────────────────
# Three-Stream ViT — Image Forgery Detection
# ──────────────────────────────────────────

# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# --- Virtual Environment ---
venv/
.env/
env/


# --- Results / Model Checkpoints ---
results/checkpoints/
results/figures/

# --- Jupyter ---
.ipynb_checkpoints/

# --- IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- OS ---
Thumbs.db
.DS_Store
desktop.ini
